/*@media screen and (min-width: 480px) and (max-width: 1200px){

}*/







@media only screen and (max-width: 768px) {

    .block_1{
        float: right;
    }

    .block_2{
        float: left;
}


}

@media only screen and (max-width: 375px){
    .block_2{
   width: 100%;
    }

    .block_1{
    width: 100%;
    }
}