/*@media screen and (min-width: 480px) and (max-width: 1200px){

}*/







@media only screen and (max-width: 1174px) {
    form,input{
        float: none;
        position: relative;
        right: 0;
        top: 10px;
    }

    .block.dark_grey{
        float: none;
        position: relative;
        right: 0;
        top: 10px;
    }
}

