* {
    margin: 0;
    padding: 0;
    font-size: inherit;
    color: inherit;
    -webkit-font-smoothing: antialiased;
}

html {
    height: 100%;
}

.top_block {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #FBFBFB;
}

.headline {
    font-size: 22px;
    color: #656363;
}

.baner {
    background-color: #EDECEC;
    padding-top: 60px;
    padding-bottom: 70px;
    padding-left: 125px;
}

.headline_baner {
    max-width: 245px;
    font-size: 32px;
    color: white;
    padding-bottom: 20px;
}

.subtitle {
    max-width: 327px;
    color: white;
    font-size: 20px;

}

.submit {
    background-color: #EF4750;
    color: white;
    border: none;
    padding: 15px;
    display: block;
    margin-top: 40px;
}

.container {
    background-color: white;
    max-width: 600px;
}

.container {
    margin: 0 auto;
    max-width: 600px;
}

.line {
    color: #656363;
    font-size: 20px;
}


.left {
    padding-left: 15px;
    padding-bottom: 40px;

}


.right {
    padding-right: 15px;
    padding-bottom: 40px;

}

.head_saubtitle {
    text-align: center;
    font-size: 21px;
    color: #656363;
    margin-top: 60px;
    margin-bottom: 40px;
}

.bottom_img {
    text-align: center;
    margin-top: 60px;
    max-width: 600px;
    margin-bottom: 60px;

}

.central_img {
margin-left: 35px;
    margin-right: 35px;
}

.left_img {
margin-right: 35px;
}

.right_img {
margin-left: 35px;
}

.bottom_block {
    background-color: #FCFBFB;
    padding-top: 41px;
    padding-bottom: 50px;
    text-align: center;
    border: gray solid 2px;
    max-width: 100%;
    box-sizing: border-box;
}

.qustions {
    font-size: 21px;
    color: #717171;
    margin-bottom: 16px;
}

.number {
    color: #F54D56;
    font-size: 27px;
    margin-top: 16px;
}

.bottom_text {
    background-color: #F8F8F8;
    text-align: center;
    border: gray solid 2px;
    max-width: 100%;
    padding-top: 30px;
    padding-bottom: 40px;
}

.text {
    color: #989797;
    font-size: 15px;
    max-width: 450px;
}

span b {
    color: red;
}