@font-face {
    font-family: 'MyriadProRegular';
    src: url('../fonts/MyriadProRegular.eot');
    src: url('../fonts/MyriadProRegular.eot') format('embedded-opentype'),
    url('../fonts/MyriadProRegular.woff2') format('woff2'),
    url('../fonts/MyriadProRegular.woff') format('woff'),
    url('../fonts/MyriadProRegular.ttf') format('truetype'),
    url('../fonts/MyriadProRegular.svg#MyriadProRegular') format('svg');
}

* {
    margin: 0;
    padding: 0;
    font-size: inherit;
    color: inherit;
    -webkit-font-smoothing: antialiased;
    font-family: MyriadProRegular;
}

html {
    height: 100%;
}

header{
    height: 40px;
    background-color: #AF2024;
    max-width: 100%;
    color: red;
}

section{
    background-image: url(../images/fon-main.png);
    max-width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.sector_media{
    position: fixed;
    z-index: 2;
    top: 225px;
    right: 0px;

}

.sector_media:before{
    content: "";
    display: block;
    clear: both;
}

.sector_media .social{
    display: block;
    background-color: #850409;
    line-height: 50px;
    width: 50px;
    font-size: 36px;
    text-align: center;
    color: #fff;

}

.sector_media .social.twitter{
    background-color: #98161B;
}

.container{
    margin: 0 auto;
    max-width: 992px;
    min-height: 748px;
}

.container img {
    margin-top: 21px;
    margin-bottom: 21px;
}
.block {
    margin: 0 auto;
    width: 712px;
    max-width: 100%;
    background-color: #fff;
    padding-bottom: 130px;
    position: relative;
    z-index: 1;
}


.container .title{
    background-color: #AF2024;
    color: white;
    line-height: 70px;
    padding-left: 15px;
    max-width: 712px;


}

.video{
    width: 566px;
    max-width: 100%;
    min-height: 345px;
    background-color: #E7E7E7;
    margin: 65px 70px 31px;
    position: relative;

}

span{
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-left: 40px solid #98161B;
    border-bottom: 20px solid transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -20px;
    margin-top: -20px;


}

footer{
    height: 486px;
    max-width: 100%;
    background-color: #000;
    margin-top:  -80px;
    border-top: #AF2024 solid 20px;


}

.inner_content{
    padding: 0px 70px;
    font-size: 12px;
    line-height: 18px;

}

b{
    color: #98161B;
    font-weight: 800;

}

b.date{
    color: gray;
    font-weight: 500;

}

p{
    color: #98161B;
    font-weight: 550;
    margin-top: 10px;

}




